<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut1000 - Using v-model for Two-Way Binding in Vue.js</title>
    <style lang="css">
        .selected {
            font-size: 2em;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="hello-world-app">
      <h2>My deepest, darkest question: {{ existentialQuestion }}</h2>
      <input type="text" v-model="existentialQuestion" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                  existentialQuestion: 'Am I truly an Artdvp',
                  statementIsTrue: true
                }
            }
        });
    </script>
</body>
</html>