<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut01 - Hello World in Vue.js</title>
</head>
<body>
    <div id="hello-world-app">
        {{ msg }} - Test dd
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    msg: 'Hello Alligator Vue! Hey Vue'
                }
            }
        });
    </script>
</body>
</html>