<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut111 - Dynamic Styles With Vue.js</title>
    <style lang="css">
        .selected {
            font-size: 2em;
        }
        .underline {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="hello-world-app">
       <button v-on:click="fontSize++">Increase font Size</button>
       <button v-on:click="fontSize--">Decrease font Size</button>

       <p v-bind:style="{ fontSize: fontSize + 'px' }">
          Font size is : {{ fontSize }}
       </p>
       <br>
       <p v-bind:style="[baseStyles, overriedStyles]">
           baseStyles and overrideStyle
       </p>
       <br>
       <ul>
           <li v-for="item in menuItems"
           v-on:click="selected = item"
           v-bind:class="{ selected: selected == item }">
               {{ item }}
           </li>
       </ul>
       <br>
       <p v-bind:class="[classArray]">
           Multiple classes {{ classArray }}
       </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                   // Dynamically Binding Styles
                   fontSize: 10,
                   // Array of Styles
                   baseStyles: {
                       fontWeight: '800',
                       color: 'red'
                   },
                   overriedStyles: {
                       color: 'blue'
                   },
                   // Binding Classes Dynamically
                   selected: 'Home',
                   menuItems: ['Home','About','Contact'],
                   classArray: ['selected', 'underline']
                }
            }
        });
    </script>
</body>
</html>