<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut10 - Conditional Directives With Vue.js</title>
</head>
<body>
    <div id="hello-world-app">
        {{ msg }} - Test dd

        <hr>
        <template v-if="isLoggedIn">
            <label>Logout</label>
            <button>Logout</button>
        </template>
        <hr>
        <button v-if="isLoggedIn">Logout</button>
        <button v-else>Log In</button>  
        <hr>
        <button v-if="isLoggedIn">Logout</button>
        <label v-else-if="isLoginDisabled">Register disbled</label>
        <button v-else>Log In</button>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    msg: 'Hello Alligator Vue! Hey Vue',
                    isLoggedIn: false,
                    isLoginDisabled: false
                }
            }
        });
    </script>
</body>
</html>