<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut100 - Vue.js Templating</title>
</head>
<body>
    <div id="hello-world-app">
       <span>Text binding: {{text}} </span> <br>
       <span v-once>Text binding: {{ text }} </span><br>
       <span v-html="htmlContent"></span><br>
       <button v-bind:disabled="isDisabledAttr">
           Disabled
       </button>

       <br>
       <button :disabled="isDisabledAttr">Disabled</button>
       <br>
       <span>{{ text + ' : ' + isDisabledAttr }}</span>
       <br>
       <span>{{ text | allCaps }}</span>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    text: 'Hello Alligator Vue! Hey Vue',
                    htmlContent: 'Hello <b>bold</b> new world!',
                    isDisabledAttr: true
                }
            },
            filters: {
                allCaps: function(value) {
                    if(!value) return '';
                    value = value.toString();
                    return value.toUpperCase();
                }
            }
        });
    </script>
</body>
</html>