<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut11 - Iterating Over Items in Vue.js With V-for</title>
</head>
<body>
    <div id="hello-world-app">
        <ul>
            <li v-for="msg in message">{{ msg }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in shoppingItems">
                {{ item.name }} - ${{ item.price }} 
            </li>
        </ul>
        <hr>
        <template v-for="item in shoppingItems">
            <label>{{ item.name }}</label>
            <label>{{ item.price }}</label>
            <button>Buy</button>
        </template>
        <hr>
        <ul>
            <li v-for="item in objectItems">
                {{ item }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(item, key, index) in objectItems">
                 {{ key }} - {{ index}} - {{ item }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in 15">{{ item }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in shoppingItems" :key="item.name">{{ item.name }} - {{ item.price }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in itemsLessThanTen" :key="item.name">
                {{ item.name }} - {{ item.price }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in filterItems(shoppingItems)" :key="item.name">
                {{ item.name }} - {{ item.price }}
            </li>
        </ul>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    message: ['hello','vue','js'],
                    shoppingItems: [
                        { name: 'apple', price: '10' },
                        { name: 'orange', price: '12' },
                        { name: 'mango', price: '15' },
                        { name: 'coconut', price: '19' },
                    ],
                    objectItems: {
                        key1: 'item1',
                        key2: 'item2',
                        key3: 'item3'
                    }
                }
            },
            computed: {
                itemsLessThanTen: function() {
                    return this.shoppingItems.filter(function(item){
                        return item.price > 10;
                    })
                }
            },
            methods: {
                filterItems: function(items){
                    return items.filter(function(item){
                        return item.price > 10;
                    })
                }
            }
        });
    </script>
</body>
</html>