<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut110 - Handling Events With Vue.js</title>
</head>
<body>
    <div id="hello-world-app">
        <label>Count is: {{ count }}</label>
        <button v-on:click="count++">Increment</button>
        <br>
    <input v-model="addValue" type="number">
    <button @click="addToCount">Add</button>
    <br>
    <a href="test" @click.prevent="addToCount">Add</a>
    <br>
    <input v-on:keyup.13="addToCount" v-model="addValue">
    <br>
    <input v-on:keyup.space="addToCount" v-model="addValue">
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    addValue: 0,
                    count: 0
                }
            },
            methods: {
                addToCount: function(){
                    this.count = this.count + parseInt(this.addValue)
                }
            }
        });
    </script>
</body>
</html>