<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tut101 - Introduction to Computed Properties in Vue.js</title>
</head>
<body>
    <div id="hello-world-app">
       <div v-for="subject in results">
           <input v-model="subject.marks">
           <span>
               Marks for {{ subject.name }} : {{ subject.marks }} 
           </span>
       </div>

       <span>
           Total marks are: {{ totalMarks }}
       </span>
       <br>
       <span>
        Total marks are: {{ totalMarks2() }}
    </span>
    <br>
    <input v-model="tempName">
    <button v-on:click="setName()">set</button><br>
    <span>fullName : {{ fullName }}</span><br>
    <span>fist name: {{ firstName }}</span><br>
    <span>last name: {{ lastName }}</span>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#hello-world-app',
            data () {
                return {
                    tempName: '',
                    firstName: '',
                    lastName: '',
                    results: [
                       {
                           name: 'English',
                           marks: 70,
                       },
                       {
                           name: 'Math',
                           marks: 80,
                       },
                       {
                           name: 'History',
                           marks: 90,
                       }
                    ]
                }
            },
            computed: {
                totalMarks: function(){
                    let total = 0;
                    for(let i = 0; i < this.results.length; i++){
                        total += parseInt(this.results[i].marks);
                    }
                    return total;
                },
                fullName: {
                    get: function() {
                        return this.firstName + this.lastName;
                    },
                    set: function(value) {
                        let names = value.split(' ');
                        this.firstName = names[0];
                        this.lastName = names[names.length - 1];
                    }
                }
            },
            methods: {
                totalMarks2: function(){
                    let total = 0;
                    for(let i = 0; i < this.results.length; i++){
                        total += parseInt(this.results[i].marks);
                    }
                    return total;
                },
                setName: function() {
                    this.fullName = this.tempName;
                }
            } 
        });
    </script>
</body>
</html>